---
import type { CollectionEntry } from "astro:content";
import { Image } from 'astro:assets';

interface Props {
  personnage: CollectionEntry<"personnages">;
}

const { personnage } = Astro.props;
---

<li class="flex flex-row items-start gap-[24px]">
    <!-- <Image src={personnage.data.image.source} alt={personnage.data.image.alt} width="90px" /> -->
    <div>
        <span class="text-xl leading-[1.3em] font-pirata">{personnage.data.name}</span>
        <span>Level: {personnage.data.level}</span>
        <table>
            <tbody>
                <tr>
                    <th scope="row" class="bg-gray-200">Str</th>
                    <td>{personnage.data.stats.str}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-gray-200">Dex</th>
                    <td>{personnage.data.stats.dex}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-gray-200">Will</th>
                    <td>{personnage.data.stats.will}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-gray-200">HP</th>
                    <td>{personnage.data.stats.hp}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-gray-200">Pips</th>
                    <td>{personnage.data.pips}</td>
                </tr>
            </tbody>
        </table>
    </div>
</li>


<style>
    .font-pirata {
        font-family: 'PirataOne';
    }
    table tbody tr {
        border: 1px solid;
    }
    table tbody tr th {
        border: 1px solid;
        padding: 1px 8px;
        text-align: left;
        font-weight: 500;
    }
    table tbody tr td {
        padding: 1px 8px;
    }
</style>